---
import { getCollection, render } from "astro:content";
import Layout from "../../components/Layout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projects");
  return projects.map((project) => ({
    params: { slug: project.id.replace(/\.md$/, "") },
    props: { project }
  }));
}

const { project } = Astro.props;
const { Content } = await render(project);
---

<Layout title={project.data.title} description={project.data.description}>
  <article class="content">
    <p class="card-meta">{project.data.date}</p>
    <Content />
  </article>
</Layout>
